<launch>
  <!-- Our own servers-->
  <node pkg="recycle_ui" type="map_annotator_server.py" name="recycle_map_annotator" args="$(env HOME)/our_pose_db_name.db"/>
  <node pkg="recycle_ui" type="classification_server.py" name="classification_server" />
  <node pkg="recycle_ui" type="add_item_server.py" name="add_item_server" />
</launch>
